@import 'src/colors';

.button-group {
  margin-top: 88px;

  .btn {
    margin: 0 14px;
    padding: 28px 48px;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
  }

  .btn-like {
    color: $tundora;
    border-radius: 15px;
    background-color: $pastel-green;
    box-shadow: 0 15px 38px 0 rgba(156, 36, 18, 0.28);
  }

  .btn-dislike {
    color: $white;
    border-radius: 15px;
    background-color: $totem-pole;
    box-shadow: 0 15px 38px 0 rgba(156, 36, 18, 0.28);
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .button-group {
    margin: 40px 0 130px 0;

    .btn {
      padding: 22px 30px;
      margin: 0 5px;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .button-group {
    margin-top: 50px;
  }
}

@media (min-width: 1280px) {
  .button-group {
    margin-top: 50px;
  }
}
